<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="simpleCar" class="com.synisys.training.spring.lesson1.Pagani"/>
    <bean id="fastCar" class="com.synisys.training.spring.lesson1.Vaz"/>
</beans>