<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <context:annotation-config />
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <context:component-scan base-package="spring.homework"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
            p:location="sql.properties"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
            p:driverClassName="${dataSource.driverClassName}"
            p:url="${dataSource.url}"
            p:username="${dataSource.userName}"
            p:password="${dataSource.password}"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          p:dataSource-ref="dataSource">
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
            p:entityManagerFactory-ref="entityManagerFactory"/>

    <bean id="ContactService" class="spring.homework.Services.SQL.ContactServiceImpl"/>
    <bean id="SectorService" class="spring.homework.Services.SQL.SectorServiceImpl"/>
    <bean id="ProjectLocationService" class="spring.homework.Services.SQL.ProjectLocationServiceImpl"/>
    <bean id="ProjectService" class="spring.homework.Services.SQL.ProjectServiceImpl"/>
</beans>